/* Order Page Styles */
.order-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.order-main-content {
  display: flex;
  flex: 1;
}

.order-dashboard {
  flex: 1;
  padding: 20px;
}

.order-page-title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

/* New container for individual cards */
.individual-cards-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 20px;
  margin-bottom: 30px;
}

.card-wrappers {
  gap: 20px;

}

.card-wrapper {
  display: flex;
  padding: 10px;

  min-width: 0;
  /* Prevents flex children from expanding beyond their container */
}

/* Remove margins from the direct children of card-wrapper */
.card-wrapper>div {
  margin: 0 !important;
}

.order-details-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  overflow: hidden;
  /* Ensures border-radius applies to all children */
}

/* Responsive Design */
@media (max-width: 1200px) {
  .individual-cards-container {
    flex-wrap: wrap;
  }

  .card-wrapper {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 1024px) {
  .order-dashboard {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .individual-cards-container {
    flex-direction: column;
  }

  .card-wrapper {
    flex-basis: 100%;
  }

  .order-dashboard {
    margin-left: 0;
    padding: 15px;
  }

  .order-page-title {
    font-size: 20px;
  }
}